.foto-cursoweb {
  opacity: 0.95;
}

.title-cursoweb {
  margin-top: 14%;
  color: white;
  font-size: 8rem;
  font-family: 'Josefin Sans', sans-serif;
}

.p-title-cursoweb {
  margin: 7rem;
  margin-top: 18%;
  color: black;
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
}

.title-h2-cursoweb {
  margin-top: 1%;
  margin-bottom: 5%;
  margin-right: 15%;
  margin-left: 15%;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5rem;
}

.h2-programar {
  color: black;
  font-size: 2.5rem;
  margin-bottom: 0rem;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: -2rem;
}

.etapas {
  margin: 5vh 20vh;
}

.title-cursow {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
}

.h3-web {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  color: white
}

.p-web {
  font-size: 1.2rem;
  color: white;
  font-family: 'Lato', sans-serif;
}

.h2-docentes {
  color: black;
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: 'Josefin Sans', sans-serif;
}

.container-docentes {
  position: relative;
  width: 22rem;
}

.image-web {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.overlay-web {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #3f4142a2;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  border-radius: 15px;
  text-align: justify;
  text-justify: inter-word;
}

.icon {
  font-size: 1.5rem;
}

.container-docentes:hover .overlay-web {
  height: 100%;
}

.text-web {
  color: white;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  position: absolute;
  top: 49%;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  word-break: break-all;
  text-align: justify;
  text-justify: inter-word;
}

.nombre-docente {
  font-size: 1.5rem;
}

.p-rel-curso {
  color: gray;
  margin: 5vh 20vh;
  font-size: larger;
  font-family: 'Lato', sans-serif;
}

.h2-cursoweb {
  color: black;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 4rem;
}

.h2-cursoweb-dos {
  color: black;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 0rem;
}

.formacion-bootcamp {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: 0.5vh auto;
}

.formacion-divs-bootcamp {
  border: 1px solid gray;
  border-radius: 2.5vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 3vh 3vh;
}

.p-formacion-bootcamp {
  color: gray;
  margin: 3vh 5vh;
  font-size: 1.1rem;
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Lato', sans-serif;
}

.etapas-boot{
  padding: 40px 0;
  background-color: #1d061a;
  min-height: 550px;
}


.h3-bootcamp {
  margin-bottom: 1.1vh;
  margin-top: 20px;
  font-family: 'Josefin Sans', sans-serif;
}

.section-dos {
  margin-top: 5vh;
  background-color: #616161;
  padding: 2vh 5vh;
}

.h2-cursoweb-sec {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 4rem;
}

.h3-sec {
  margin-bottom: 1.1vh;
  margin-top: 20px;
  font-family: 'Josefin Sans', sans-serif;
  color: #2a60a9;
}

.p-formacion-sec {
  color: white;
  margin: 3vh 5vh;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Lato', sans-serif;
}

.formacion-divs-sec {
  border: 1px solid gray;
  border-radius: 2.5vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 3vh 3vh;
  background-color: lightslategray;
}

.h2-financiacion {
  color: black;
  font-size: 2.5rem;
  margin-bottom: 4rem;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 4rem;
}

.p-financiacion {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  color: gray;
}

.h4-fin {
  font-family: 'Josefin Sans', sans-serif;
}

.pregunta-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}

.p-faq {
  font-size: 1.2rem;
  color: gray;
  font-family: 'Lato', sans-serif;
}

.foto-cursoweb {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50vh;
  min-height: 30%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

@media screen and (max-width: 600px) {
  .foto-cursoweb {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 17.5vh;
    min-height: 40%;
    object-fit: contain;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  .title-cursoweb {
    margin: 25% 2%;
    color: white;
    font-size: 2.2rem;
    font-family: 'Josefin Sans', sans-serif;
  }

  .p-title-cursoweb {
    margin: 1rem;
    margin-top: 19%;
    color: black;
    font-size: 1rem;
    font-family: "Lato", sans-serif;
  }

  .h2-programar {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 0rem;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 3rem;
  }

  .p-rel-curso {
    color: gray;
    margin: 5vh 2vh;
    font-size: 1rem;
    font-family: "Lato", sans-serif;
  }

  .title-h2-cursoweb {
    margin-top: 1%;
    margin-bottom: 5%;
    margin-right: 15%;
    margin-left: 15%;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
  }

  .etapas {
    margin: 5vh 2vh;
  }

  .title-cursow {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.8rem;
  }

  .h3-web {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
  }

  .p-web {
    font-size: 1rem;
    color: gray;
    font-family: "Lato", sans-serif;
  }

  .etapas-col {
    flex: 0 0 auto;
    width: 100% !important;
    margin-bottom: 5vh;
  }

  .h2-cursoweb {
    color: black;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    margin: 2rem 1rem;
  }

  .formacion-bootcamp {
    width: 100%;
    margin: 0.5vh auto;
  }

  .div-1 {
    border: 1px solid gray;
    border-radius: 2.5vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10vh 2vh;
    position: relative;
    left: 200px;
    top: -60px;
    min-width: 360px;
    max-height: 289px;
  }

  .div-2 {
    border: 1px solid gray;
    border-radius: 2.5vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 5vh 2vh;
    position: relative;
    top: 300px;
    min-width: 360px;
    left: -197px;
    max-height: 320px;
  }

  .div-3 {
    border: 1px solid gray;
    border-radius: 2.5vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 5vh 2vh;
    position: relative;
    top: 181px;
    min-width: 360px;
    left: 200px;
    max-height: 320px;
  }

  .div-4 {
    border: 1px solid gray;
    border-radius: 2.5vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 5vh 2vh;
    position: relative;
    top: 530px;
    min-width: 360px;
    left: -197px;
    max-height: 380px;
  }

  .h2-docentes {
    color: black;
    font-size: 1.8rem;
    margin-top: 33rem;
    margin-bottom: 2rem;
    font-family: 'Josefin Sans', sans-serif;
  }

  .h2-cursoweb-sec {
    color: white;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 4rem;
  }
  .section-dos {
    margin-top: 5vh;
    background-color: #616161;
    padding: 2vh 5vh;
    height: 2000px;
  }

  .formacion-bootcamp {
    width: 100%;
    margin: 0.5vh auto;
  }

  .h2-financiacion {
    color: black;
    font-size: 2rem;
    margin-bottom: 4rem;
    margin-right:1vh;
    margin-left: 1vh;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 3rem;
  }
  .div-3-sec {
    border: 1px solid gray;
    border-radius: 2.5vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 5vh;
    position: relative;
    top: 181px;
    min-width: 360px;
    left: 200px;
    max-height: 550px;
  }

  .div-4-sec {
    border: 1px solid gray;
    border-radius: 2.5vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 31vh 2vh;
    position: relative;
    top: 530px;
    min-width: 360px;
    left: -197px;
    max-height: 500px;
  }

  .fin-col{
    width: 100%!important;
    margin-bottom: 5vh;
  }

  .sec-dos-col{
    flex-direction: column-reverse;
  }

  .accordion-acc{
    width: 100%!important;
  }

  .pregunta-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.9rem;
    text-transform: uppercase;
  }

  .p-faq{
    font-size: 1.1rem
  }

  
  .form-inicio-button{
    position: relative;
    right: 50px;
  }

  .form-control{
    min-width: 250px!important;
  }

  .text-area2{
    min-width: 250px!important;
    position: relative;
    right: 42px;
  }
  .form-inicio-button{
    position: relative;
    right: 50px;
  }

}
